<%= form_for [@step, @irregular_performance_approval] do |f| %>
  <% if @irregular_performance_approval.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@irregular_performance_approval.errors.count, "error") %> prohibited this irregular_performance_approval from being saved:</h2>

      <ul>
      <% @irregular_performance_approval.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :goedgekeurd %><br />
    <%= f.check_box :verdict %>
  </div>
  <div class="field">
    <%= f.label :motivation %><br />
    <%= f.text_area :motivation, :size => "50x5" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
