<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @irregular_performance_request.event %>
</p>

<p>
  <b>From:</b>
  <%= @irregular_performance_request.from %>
</p>

<p>
  <b>To:</b>
  <%= @irregular_performance_request.to %>
</p>

<p>
  <b>Employee:</b>
  <%= @irregular_performance_request.employee %>
</p>

<p>
  <b>Description:</b>
  <%= @irregular_performance_request.description %>
</p>
