<%= form_for(@college_note) do |f| %>
  <% if @college_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@college_note.errors.count, "error") %> prohibited this college_note from being saved:</h2>

      <ul>
      <% @college_note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :college_id %><br />
    <%= f.text_field :college_id %>
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
