<p id="notice"><%= notice %></p>

<p>
  <b>Absence type:</b>
  <%= @absence_request.absence_type_id %>
</p>

<p>
  <b>From:</b>
  <%= @absence_request.from %>
</p>

<p>
  <b>To:</b>
  <%= @absence_request.to %>
</p>


<%= link_to 'Edit', edit_absence_request_path(@absence_request) %> |
<%= link_to 'Back', absence_requests_path %>
