<h1>Listing new_employee_requests</h1>

<table>
  <tr>
    <th>Osn</th>
    <th>Motivation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @new_employee_requests.each do |new_employee_request| %>
  <tr>
    <td><%= new_employee_request.osn %></td>
    <td><%= new_employee_request.motivation %></td>
    <td><%= link_to 'Show', new_employee_request %></td>
    <td><%= link_to 'Edit', edit_new_employee_request_path(new_employee_request) %></td>
    <td><%= link_to 'Destroy', new_employee_request, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New New employee request', new_new_employee_request_path %>
